.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: rgb(201, 255, 224);
  /* border: 2px solid black; */
  /* border-radius: 25px; */
  width: clamp(60vw, 90vw, 600px);
  height: 100vw;
  margin: auto;
  margin-top: 50px;
}
